*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/codeStyles/Project.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/basic/build/
/feature/callersBase-common/build/
/feature/dialings/build/
/feature/dialings-common/build/
/feature/scenarios/build/
/feature/scenarios-common/build/
/feature/stats/build/
/feature/tabs/build/
/feature/tester-settings/build/
/flows/build/
/.idea/
/scopes/build/
/uikit/build/
/android/build/
